NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=Your_Key_Here
CLERK_SECRET_KEY=Your_Key_Here
CLERK_WEBHOOK_SIGNING_SECRET=Your_Key_Here

#generate a token from vercel and add in your github secret with the name of VERCEL_TOKEN

MONGODB_URI=Your_URI_Here

# Clerk variables
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/user/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/user/dashboard
